@charset "UTF-8"
/*
em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/

;body {
    background-color: rgba(186, 211, 203, 0.84);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
h1{
    color: rgb(14, 147, 7);
    
}
h1#principal{
    text-align: center;
    color: rgb(202, 219, 214);
    background-color: rgb(35, 61, 48);
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: rgb(122, 187, 31);
}
p{
    color: rgb(35, 35, 119);
    text-align: justify;
} 
.basico {
 color: rgb(32, 131, 218);
 font-weight: bold;
}
.internediario {
  color: rgb(11, 39, 165);
}
.avançado {
  color: rgb(5, 55, 38);
}
.destaque{
   background-color: rgba(20, 36, 25, 0.719);
}